html,
body {
  font-family: 'Rock Salt', cursive;
  background-color: #212121;
  color: white;
  margin: 0;
  padding: 0;
}
.bigsin {
  text-align: center;
  font-size: 7.5rem;
  font-family: 'Rock Salt', cursive;
  font-weight: 200;
  height: 40%;
}
.bigsin span {
  font-size: 2rem;
}
.smolsin {
  text-align: center;
  font-size: 2rem;
  font-family: 'Rock Salt', cursive;
  font-weight: 200;
  margin-top: -7rem;
}
.sinbkg {
  background-image: url(../../assets/sinforsaken25no.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.footerSerrow {
  text-decoration: none;
  color: white;
  transition: color 0.5s ease;
}
.footerSerrow:hover {
  color: #18d7dd;
}
.carp_fix img {
  align-self: flex-end !important;
}
