html,
body {
  font-family: 'Rock Salt', cursive;
  background-color: #212121;
  color: white;
  margin: 0;
  padding: 0;
}
.bigsin {
  text-align: center;
  font-size: 7.5rem;
  font-family: 'Rock Salt', cursive;
  font-weight: 200;
  height: 40%;
}
.bigsin span {
  font-size: 2rem;
}
.smolsin {
  text-align: center;
  font-size: 2rem;
  font-family: 'Rock Salt', cursive;
  font-weight: 200;
  margin-top: -7rem;
}
.sinbkg {
  background-image: url(../../assets/sinforsaken40opc.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -100%;
}
