// Global
html,
body {
  font-family: 'Roboto', sans-serif;

  // font-family: 'Montserrat', sans-serif;
  // font-family: 'Merienda', cursive;
}

// Material Styles

// Minor CSS Adjustments

.bigsin {
  font-size: 7.5rem;
  font-family: 'Rock Salt', cursive;
  font-weight: 100;
}
