// Global
html,
body {
  // font-family: 'Roboto', sans-serif;
  font-family: 'Rock Salt', cursive;

  background-color: rgb(33, 33, 33);
  color: white;
  margin: 0;
  padding: 0;

  // font-family: 'Montserrat', sans-serif;
  // font-family: 'Merienda', cursive;
}

// Material Styles

// Minor CSS Adjustments

.bigsin {
  text-align: center;
  font-size: 7.5rem;
  font-family: 'Rock Salt', cursive;
  font-weight: 200;
  height: 40%;

  span {
    font-size: 2rem;
  }
}

.smolsin {
  text-align: center;
  font-size: 2rem;
  font-family: 'Rock Salt', cursive;
  font-weight: 200;
  margin-top: -7rem;
}

.sinbkg {
  background-image: url(../../assets/sinforsaken25no.png);
  background-size: 100%;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position-y: -85%;
}

.footerSerrow {
  text-decoration: none;
  color: white;
  transition: color 0.5s ease;

  &:hover {
    color: rgb(24, 215, 221);
  }
}
